html{height:100%;font-size:14px}
body{position:absolute;padding:0;margin:0;width:100%;height:100%;overflow-x:hidden;font-family:"微软雅黑",Arial,Helvetica,sans-serif}
.main{position:relative;width:1280px;height:720px;margin:0 auto;overflow:hidden;z-index:0;}

.one-img{position:absolute;display: block;width: 100%;height: 100%;z-index: 0;}
.one-div{position: absolute;width: 100%; height: 100%;top: 0;z-index:1;overflow: hidden;display: block;}
.one-div-bc{z-index:0;}

.one-demo{position: relative;font-size: 100px;text-indent: 50px;}
